@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body{
font-family: "Roboto Condesed" sans-serif;
background-color: #0B1D2F;
}


/**************************************NAVBAR***********************************************/
.logo{
  width:100px;
}

/*----------NAV -----------*/
nav{
  background-color: #0B1D2F;  
}
.navbar-nav >li >a {
  margin-right:12px;
}

/*----------NAV Links-----------*/
nav a.nav-link{
  font-weight:500;
  font-size: small;
  letter-spacing:0.6px;
  cursor:pointer;
  color: rgb(255, 255, 255);
   
}
nav ul li{
  text-transform: uppercase;
  padding-right: 4rem;
}

/*-----------NAV Btn--------*/
.button1 {
  transition-duration: 0.4s;
  background-color: #F58A07; /* Green */
  border: none;
  color: white;  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  padding: 10px 30px;
  margin: right 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
  align-items: center;
}

.button1:hover {
  background-color: #084887; /* Green */
  color: white;
}

/**************************************HEADER***********************************************/
.header-wrapper{
  position: relative;
  background: url('./components/image/im1.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 86vh;

}
.main-info{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condesed" sans-serif;
}
.main-info h1,h3{
  
  color: #084887;
}
/**************************************Typed Text**********************************************/
.typed-text{
  font-size:30px;
  color:#F58A07;
  align-items: center;
}

.shp{
  font-size:30px;
  color:#F58A07;
  align-items: center; 
}

/**************************************line**********************************************/
.line{
  position: relative;
  background-color: #0B1D2F;  
  background-size: cover;
  background-position: center;
  height: 20vh; 
  align-items: center;
}
/**************************************card1-wrapper***********************************************/
.card1-wrapper{
  position: relative;
  background-color: #0B1D2F;  
  background-size: cover;
  background-position: center;  
  align-items: center; 
  
  
}
.b1{ 
    align-items: center;    
    margin-right: 150px;
    margin-left: 80px;
   
 
}
.imclz {
  display: block;
  width: 450px;
  margin-left:10px;
  margin-right: auto;
 
}


.text-block {
  position: absolute; 
  top: 150px;
  left: 700px;
  background-color:transparent;
  color: white;
  align-items: center;
  text-align: left;
}
p {
  width: 500px; 
  
}
/**************************************card2-wrapper***********************************************/
.card2-wrapper{
  position: relative;
  background-color: #0B1D2F;  
  background-size: cover;
  background-position: center;  
  align-items: center;   
  
}
.b2{ 
  align-items: center;    
  margin-right: 150px;
  margin-left: 80px;
 

}
.text-block2 {
  position: absolute; 
  top: 100px;
  left: 100px;
  background-color:transparent;
  color: white;
  align-items: center;
  text-align: left;
}

.imclz2 {
  display: block;
  width: 550px;  
  margin-left: 650px;
 
}


/**************************************shop***********************************************/
.sh1 h2{
  font-size: 50px;
  color: #F58A07;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 600;
}
div.gallery {
    width:302.5px;
}



div.gallery img {
  width: 300px;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: white;
 
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.button2 {
  transition-duration: 0.4s;
  background-color: #F58A07; /* Green */
  border: none;
  color: white;  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  padding: 10px 30px;
  margin: right 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
  align-items: center;
}

/**************************************Footer**********************************************/
.footer-wrapper{
  position: relative;
  background: url('./components/image/footer.png') no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;

}
.box1{
  background-color: #0B1D2F; 
  width: 320px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}
/**************************************About Us***********************************************/
header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 30rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
  
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background-color: black;
  }
  header video {
    display: none;
  }
}
.display-3{
  color: #F58A07;
  font-weight:700;
}
p.lead.mb-0{
  text-align: justify;
}

/**************************************Workouts***********************************************/
.workout-wrapper{
  position: relative;
  background: url('./components/image/im7.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height:100vh;

}
.line2{
  position: relative;
  background-color: #0B1D2F;  
  background-size: cover;
  background-position: center;
  height: 10vh; 
  align-items: center;
}

/**************************************Login***********************************************/



@import url('https://fonts.googleapis.com/css?family=Numans');
.login-wrapper{
  position: relative;
  background: url('./components/image/im8.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height:86vh;
}

.cont{
height: 100%;
align-content: center;
}

.card{
height: 390px;
margin-top: 50px;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
border-color: #F58A07;

}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #F58A07;
}

.social_icon span:hover{
color: rgb(27, 44, 119);
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
height: 40px;
background-color: #F58A07;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
  color: #FFC312;
  background-color: #FFC312;
  width: 100px;
  }

.login_btn:hover{
  color: black;
  background-color: white;
  }

.links{
color: white;
}

/**************************************Contact***********************************************/
.contact-wrapper{
  position: relative;
  background: url('./components/image/im9.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height:86vh;
}
.jumbotron {
  background: #358CCE;
  color: #FFF;
  border-radius: 0px;
  }
  .jumbotron-sm { padding-top: 24px;
  padding-bottom: 24px; }
  .jumbotron small {
  color: #FFF;
  }
  .h1 small {
  font-size: 24px;
  }

/**************************************Sign-up***********************************************/
.signup-wrapper{
  position: relative;
  background: url('./components/image/im9.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height:86vh;
}
.button2 {
  transition-duration: 0.4s;
  background-color: #F58A07; /* Green */
  border: none;
  color: white;  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  padding: 10px 30px;
  margin: right 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
  
}

.button2:hover {
  background-color: #084887; /* Green */
  color: white;
}
.form-group2{
  right: 1000px;
}
.card5-body{ 
  padding-top: 35px;
  padding-left: 50px;
  width:auto;
  height:400px ;
  margin-bottom: auto;
  bottom:100px;
  background-color: rgb(0 0 0 / 75%) !important;
  
  }
  .card5-body label,legend,address{
    color: #F58A07;
  }
  .line3{
    position: relative;
    background-color:transparent;  
    background-size: cover;
    background-position: center;
    height: 8vh; 
    align-items: center;
  }


  /****************************Footer*************************************************/
 .col_white_amrc { 
   color:r#F58A07;
}

.footer {
   width:100%; 
   background-color:#000000; 
   min-height:250px; 
   padding:10px 0px 25px 0px ;
  }

.pt2 { 
  padding-top:40px ; 
  margin-bottom:20px ;
  color:#ffffff;
}

footer p {
   font-size:13px; 
   color:#F58A07; 
   padding-bottom:0px; 
   margin-bottom:8px;
  }

.mb10 { 
  padding-bottom:15px ;
  width:200px;
  color:#F58A07;
}

.footer_ul_amrc {
   margin:0px ; 
   list-style-type:none ; 
   font-size:14px; 
   padding:0px 0px 10px 0px ; 
  }

.footer_ul_amrc li {
  padding:0px 0px 5px 0px;
}

.footer_ul_amrc li a{ 
  color:#F58A07;
}

.footer_ul_amrc li a:hover{ 
  color:#fff;
   text-decoration:none;
  }

.fleft { 
  float:left;
}

.padding-right { 
  padding-right:10px; 
}

.footer_ul2_amrc {
  margin:0px; list-style-type:none; 
  padding:0px;}

.footer_ul2_amrc li p { 
  display:table; 
}

.footer_ul2_amrc li a:hover {
   text-decoration:none;
  }

.footer_ul2_amrc li i { 
  margin-top:5px;
}

.bottom_border { 
  border-bottom:1px solid #0e1096;
   padding-bottom:20px;}

.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { 
  display:inline;
}

.foote_bottom_ul_amrc li a { 
  color:#999; 
  margin:0 12px;}

.social_footer_ul { 
  display:table; 
  margin:15px auto 0 auto; 
  list-style-type:none;  }

.social_footer_ul li { 
  padding-left:20px; 
  padding-top:10px; 
  float:left; }

.social_footer_ul li a { 
  color:#F58A07;
  border:1px solid #F58A07;
  padding:8px;
  border-radius:50%;
}

.social_footer_ul li i { 
   width:20px; 
   height:20px; 
   text-align:center;
  }
  .text-center{
    color: #FFF;
  }
  .ic{
    color: rgb(54, 27, 207);
  }

  /***********************************************Workout container*******************************************/
  @import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:400,400i,700,700i');
section{
    padding: 100px 0;
}
.details-card {
	background: #0b1d2f;
}

.card-content {
	background: #ffffff;
	border: 4px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.card-img {
	position: relative;
	overflow: hidden;
	border-radius: 0;
	z-index: 1;
}

.card-img img {
	width: 100%;
	height: auto;
	display: block;
}

.card-img span {
	position: absolute;
    top: 15%;
    left: 12%;
    background: #1ABC9C;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%,-50%);
}
.card-img span h4{
        font-size: 12px;
        margin:0;
        padding:10px 5px;
         line-height: 0;
}
.card-desc {
	padding: 1.25rem;
}

.card-desc h3 {
	color: #000000;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.card-desc p {
	color: #747373;
    font-size: 14px;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5;
	margin: 0px;
	margin-bottom: 20px;
	padding: 0;
	font-family: 'Raleway', sans-serif;
  width:300px;
}
.btn-card{
	background-color: #f58a07;
	color: rgb(0, 0, 0);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    margin: 0;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: rgb(0, 0, 0);
}
.btn-card:hover {
    background: #084887;
}
a.btn-card {
    text-decoration: none;
    color: rgb(0, 0, 0);
}



/************************************************Cart page*******************************************************/

.cart-nav .navbar {
  width: 100%;
  line-height: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 0.1rem solid #9a9191;
  transform: rotate(-0.05deg);
  margin-bottom: 7rem;
}

.cart-nav .continue-shopping{
    display: flex;
    height: inherit;
    align-items: center;
}

.cart-nav .continue-shopping .arrow-icon {
  width: 2.2rem;
  height: 2.2rem;
}

.cart-nav .continue-shopping h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--main-color);
  margin-left: 1.5rem;
  font-weight: 400;
}

.cart-nav .cart-icon {
    display: flex;
    text-align: end;
    margin-right: 2rem;
    align-items: center;
    position: relative;
    justify-content: flex-end;
  }
  
  .cart-nav .cart-icon img {
    width: 5rem;
    height: 5rem;
    color: #2f80ed;
  }
  
  .cart-nav .cart-icon p {
    position: absolute;
    width: 4rem;
    height: 4rem;
    right: -1.2rem;
    top: 0.9rem;
    border-radius: 50%;
    background: #909CC2;
    color: #fff;
    box-sizing: border-box;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
  }

.main-cart-section h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  text-transform: capitalize;
  color: var(--main-color);
  margin-bottom: 1rem;
}

.main-cart-section .cp-total-items {
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  text-transform: capitalize;
  color: var(--main-color);
  margin-bottom: 5rem;
}

.main-cart-section .cp-total-items-count {
  font-weight: bold;
  color: var(--main-color);
}

/* cart main div start  */

.main-cart-section .cp-cart-items {
  width: 100%;
  height: 62rem;
  background-color: #F7F5FB;
 /* background: linear-gradient(
    103.49deg,
    #ffffff -28.13%,
    rgba(242, 244, 255, 0.5) 116.84%
  );*/
  box-shadow: rgba(0, 0, 0, 0.08) 0rem 0.4rem 1.2rem;
  border-radius: 2rem;
  margin: auto;
  margin: auto;
  display: grid;
  place-items: center;
}

.cp-cart-items hr {
  margin: 2rem auto;
}

.cp-cart-items-container {
  width: 90%;
  height: 56rem;
}

.cp-items-info {
  width: 100%;
  height: 17rem;
  /* background-color: lavender; */
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.cp-items-info .cp-img img {
  width: 16rem;
  height: 16rem;
  filter: drop-shadow(0rem 0.4rem 1rem #f1f7ff);
  border-radius: 1rem;
}

.cp-items-info .cp-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cp-items-info .cp-title h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: black;
}

.cp-items-info .cp-title p {
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  
  text-align: left;
  color: black;
}

.add-minus-quantity {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.add-minus-quantity button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.add-minus-quantity input {
  width: 6rem;
  height: 3.5rem;
  border: 0.2rem solid #F58A07;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  text-align: center;
  text-transform: capitalize;
  color: var(--primary-color);
  margin: 0 1rem;
  border-radius: 0.5rem;
  outline: none;
  background-color: transparent;
}

.add-minus-quantity input:focus {
  outline: none;
}

.cp-items-info .cp-price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cp-price h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--primary-color);
}

.cp-remove-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5rem;
  
}

.cp-remove-item button {
  border: none;
  background-color: transparent;
}

.cp-card-total {
  width: 95%;
  margin-top: 4rem;
  text-align: right;
}

.cp-card-total h3 {
  font-style: 200;
  font-size: 2.58rem;
  line-height: 3.2rem;
  text-transform: capitalize;
  color:  var(--main-color);
}

.cp-card-total h3 span {
  font-style: normal;
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 3.2rem;
  text-transform: capitalize;
  color:  var(--main-color);;
  margin-left: 1rem;
}

.cp-card-total button {
  border: none;
  font-size: 1.6rem;
  padding: 1rem 3rem;
  color: #fff;
  background-color: #F58A07;
  text-transform: uppercase;
  margin-top: 1.5rem;
  margin-bottom: 5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  letter-spacing: 1px;
}

/* hover effects  */
.fa-trash {
  color:#F58A07;
}

.fa-plus:hover {
  color: #F58A07;
}

.fa-minus:hover {
  color: #F58A07;
}

.fa-plus,
.fa-minus {
  color: var(--primary-color);
}

.cp-card-total button:hover {
  background-color: #909CC2;
}

.cp-card-total .clear-cart {
  margin-left: 3rem;
  background-color: black;
}

.cp-card-total .clear-cart:hover {
  background-color: #F58A07;
}

/* responsive media queries  */

@media (max-width: 968px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 768px) {
  .continue-shopping h3 {
    margin-left: 0;
    font-size: 1.85rem;
  }

  .cp-items-info {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
  }

  .cp-title,
  .add-minus-quantity,
  .cp-price,
  .cp-remove-item {
    padding-left: 2rem;
  }

  .cp-items-info .cp-product-img {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }

  .add-minus-quantity {
    margin: 2rem 0 2rem 0;
    justify-content: flex-start;
  }

  .cp-price {
    justify-content: flex-start;
    margin-bottom: 2rem;
  }

  .cp-price h3::before {
    content: "Price: ";
  }

  .cp-remove-item {
    justify-content: flex-start;
  }

  .cp-card-total {
    margin-bottom: 2rem;
    text-align: center;
  }

  .cp-card-total button {
    margin-bottom: 3rem;
  }
}

/*************************************Wishlist**************************************/
.main-cart-section .wl-cart-items {
  width: 100%;
  height: 62rem;
  background-color: #F7F5FB;
  box-shadow: rgba(0, 0, 0, 0.08) 0rem 0.4rem 1.2rem;
  border-radius: 2rem;
  margin: 5rem 2rem 6rem 1rem;
  
  display: grid;
  place-items: center;
}

.wl-cart-items hr {
  margin: 2rem auto;
}

.wl-cart-items-container {
  width: 90%;
  height: 56rem;
}

.wl-items-info {
    width: 100%;
    height: fit-content;
    margin: auto;
    display: grid;
    grid-template-columns: 0.5fr 1fr 3fr 1fr 1fr;
  }
  
  .wl-items-info .wl-img img {
    width: 16rem;
    height: 16rem;
    filter: drop-shadow(0rem 0.4rem 1rem #f1f7ff);
    border-radius: 1.5rem;
  }
  
  .wl-items-info .wl-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .wl-items-info .wl-title h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: black;
  }
  
  .wl-items-info .wl-title p {
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    
    text-align: left;
    color: black;
  }
  
  .wl-items-info .wl-add-cart {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .wl-add-cart button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
  }
  
  .wl-items-info .wl-price {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .wl-price h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--primary-color);
  }
  
  .wl-items-info .wl-remove-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    
  }
  
  .wl-remove-item button {
    border: none;
    background-color: transparent;
  }
  
  /*.card-total {
    width: 95%;
    margin-top: 4rem;
    text-align: right;
  }
  
  .card-total h3 {
    font-style: 200;
    font-size: 2.58rem;
    line-height: 3.2rem;
    text-transform: capitalize;
    color:  var(--main-color);
  }
  
  .card-total h3 span {
    font-style: normal;
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 3.2rem;
    text-transform: capitalize;
    color:  var(--main-color);;
    margin-left: 1rem;
  }
  
  .card-total button {
    border: none;
    font-size: 1.6rem;
    padding: 1rem 3rem;
    color: #fff;
    background-color: #F58A07;
    text-transform: uppercase;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    letter-spacing: 1px;
  }
  */
  /* hover effects  */
  .fa-times:hover {
    color:#F58A07;
    transform: scale(2);
  }
  
  .fa-shopping-cart:hover {
    color: #F58A07;
    transform: scale(2);
  }
  
  
  .fa-shopping-cart,
  .fa-times {
    color: #F58A07; 
  }
  /*
  .card-total button:hover {
    background-color: #909CC2;
  }
  
  .card-total .clear-cart {
    margin-left: 3rem;
    background-color: black;
  }
  
  .card-total .clear-cart:hover {
    background-color: #F58A07;
  }*/
  
  /* responsive media queries  */
  
  @media (max-width: 968px) {
    html {
      font-size: 50%;
    }
  }
  
  @media (max-width: 768px) {
    .continue-shopping h3 {
      margin-left: 0;
      font-size: 1.85rem;
    }
  
    .wl-items-info {
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: 0.5fr 1fr 3fr 1fr 1fr;
    }
  
    .wl-title,
    .wl-add-cart,
    .wl-price,
    .wl-remove-item {
      padding-left: 1rem;
    }
  
    .wl-items-info .wl-img {
      width: 100%;
      text-align: center;
      margin-bottom: 2rem;
    }
  
    .wl-add-cart {
      margin: 2rem 0 2rem 0;
      justify-content: flex-start;
    }
  
    .wl-price {
      justify-content: flex-start;
      margin-bottom: 2rem;
    }
  
    .wl-price h3::before {
      content: "Price: ";
    }
  
    .wl-remove-item {
      justify-content: center;
    }
  
  }