@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body{
font-family: "Roboto Condesed" sans-serif;
background-color: #0B1D2F;
}


/**************************************NAVBAR***********************************************/
.logo{
  width:100px;
}

/*----------NAV -----------*/
nav{
  background-color: #0B1D2F;  
}
.navbar-nav >li >a {
  margin-right:12px;
}

/*----------NAV Links-----------*/
nav a.nav-link{
  font-weight:500;
  font-size: small;
  letter-spacing:0.6px;
  cursor:pointer;
  color: rgb(255, 255, 255);
   
}
nav ul li{
  text-transform: uppercase;
  padding-right: 4rem;
}

/*-----------NAV Btn--------*/
.button1 {
  transition-duration: 0.4s;
  background-color: #F58A07; /* Green */
  border: none;
  color: white;  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  padding: 10px 30px;
  margin: right 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
  align-items: center;
}

.button1:hover {
  background-color: #084887; /* Green */
  color: white;
}

/**************************************HEADER***********************************************/
.header-wrapper{
  position: relative;
  background: url('./components/image/im1.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 86vh;

}
.main-info{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condesed" sans-serif;
}
.main-info h1,h3{
  
  color: #084887;
}
/**************************************Typed Text**********************************************/
.typed-text{
  font-size:30px;
  color:#F58A07;
  align-items: center;
}

.shp{
  font-size:30px;
  color:#F58A07;
  align-items: center; 
}

/**************************************line**********************************************/
.line{
  position: relative;
  background-color: #0B1D2F;  
  background-size: cover;
  background-position: center;
  height: 20vh; 
  align-items: center;
}
/**************************************card1-wrapper***********************************************/
.card1-wrapper{
  position: relative;
  background-color: #0B1D2F;  
  background-size: cover;
  background-position: center;  
  align-items: center; 
  
  
}
.b1{ 
    align-items: center;    
    margin-right: 150px;
    margin-left: 80px;
   
 
}
.imclz {
  display: block;
  width: 450px;
  margin-left:10px;
  margin-right: auto;
 
}


.text-block {
  position: absolute; 
  top: 150px;
  left: 700px;
  background-color:transparent;
  color: white;
  align-items: center;
  text-align: left;
}
p {
  width: 500px; 
  
}
/**************************************card2-wrapper***********************************************/
.card2-wrapper{
  position: relative;
  background-color: #0B1D2F;  
  background-size: cover;
  background-position: center;  
  align-items: center;   
  
}
.b2{ 
  align-items: center;    
  margin-right: 150px;
  margin-left: 80px;
 

}
.text-block2 {
  position: absolute; 
  top: 100px;
  left: 100px;
  background-color:transparent;
  color: white;
  align-items: center;
  text-align: left;
}

.imclz2 {
  display: block;
  width: 550px;  
  margin-left: 650px;
 
}


/**************************************shop***********************************************/
.sh1 h2{
  font-size: 50px;
  color: #F58A07;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 600;
}
div.gallery {
    width:302.5px;
}



div.gallery img {
  width: 300px;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: white;
 
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.button2 {
  transition-duration: 0.4s;
  background-color: #F58A07; /* Green */
  border: none;
  color: white;  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  padding: 10px 30px;
  margin: right 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
  align-items: center;
}

/**************************************Footer**********************************************/
.footer-wrapper{
  position: relative;
  background: url('./components/image/footer.png') no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;

}
.box1{
  background-color: #0B1D2F; 
  width: 320px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}
/**************************************About Us***********************************************/
header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 30rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
  
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background-color: black;
  }
  header video {
    display: none;
  }
}
.display-3{
  color: #F58A07;
  font-weight:700;
}
p.lead.mb-0{
  text-align: justify;
}

/**************************************Workouts***********************************************/
.workout-wrapper{
  position: relative;
  background: url('./components/image/im7.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height:100vh;

}
.line2{
  position: relative;
  background-color: #0B1D2F;  
  background-size: cover;
  background-position: center;
  height: 10vh; 
  align-items: center;
}

/**************************************Login***********************************************/



@import url('https://fonts.googleapis.com/css?family=Numans');
.login-wrapper{
  position: relative;
  background: url('./components/image/im8.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height:86vh;
}

.cont{
height: 100%;
align-content: center;
}

.card{
height: 390px;
margin-top: 50px;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
border-color: #F58A07;

}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #F58A07;
}

.social_icon span:hover{
color: rgb(27, 44, 119);
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
height: 40px;
background-color: #F58A07;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
  color: #FFC312;
  background-color: #FFC312;
  width: 100px;
  }

.login_btn:hover{
  color: black;
  background-color: white;
  }

.links{
color: white;
}

/**************************************Contact***********************************************/
.contact-wrapper{
  position: relative;
  background: url('./components/image/im9.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height:86vh;
}
.jumbotron {
  background: #358CCE;
  color: #FFF;
  border-radius: 0px;
  }
  .jumbotron-sm { padding-top: 24px;
  padding-bottom: 24px; }
  .jumbotron small {
  color: #FFF;
  }
  .h1 small {
  font-size: 24px;
  }

/**************************************Sign-up***********************************************/
.signup-wrapper{
  position: relative;
  background: url('./components/image/im9.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height:86vh;
}
.button2 {
  transition-duration: 0.4s;
  background-color: #F58A07; /* Green */
  border: none;
  color: white;  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  padding: 10px 30px;
  margin: right 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
  
}

.button2:hover {
  background-color: #084887; /* Green */
  color: white;
}
.form-group2{
  right: 1000px;
}
.card5-body{ 
  padding-top: 35px;
  padding-left: 50px;
  width:auto;
  height:400px ;
  margin-bottom: auto;
  bottom:100px;
  background-color: rgb(0 0 0 / 75%) !important;
  
  }
  .card5-body label,legend,address{
    color: #F58A07;
  }
  .line3{
    position: relative;
    background-color:transparent;  
    background-size: cover;
    background-position: center;
    height: 8vh; 
    align-items: center;
  }


  /****************************Footer*************************************************/
 .col_white_amrc { 
   color:r#F58A07;
}

.footer {
   width:100%; 
   background-color:#000000; 
   min-height:250px; 
   padding:10px 0px 25px 0px ;
  }

.pt2 { 
  padding-top:40px ; 
  margin-bottom:20px ;
  color:#ffffff;
}

footer p {
   font-size:13px; 
   color:#F58A07; 
   padding-bottom:0px; 
   margin-bottom:8px;
  }

.mb10 { 
  padding-bottom:15px ;
  width:200px;
  color:#F58A07;
}

.footer_ul_amrc {
   margin:0px ; 
   list-style-type:none ; 
   font-size:14px; 
   padding:0px 0px 10px 0px ; 
  }

.footer_ul_amrc li {
  padding:0px 0px 5px 0px;
}

.footer_ul_amrc li a{ 
  color:#F58A07;
}

.footer_ul_amrc li a:hover{ 
  color:#fff;
   text-decoration:none;
  }

.fleft { 
  float:left;
}

.padding-right { 
  padding-right:10px; 
}

.footer_ul2_amrc {
  margin:0px; list-style-type:none; 
  padding:0px;}

.footer_ul2_amrc li p { 
  display:table; 
}

.footer_ul2_amrc li a:hover {
   text-decoration:none;
  }

.footer_ul2_amrc li i { 
  margin-top:5px;
}

.bottom_border { 
  border-bottom:1px solid #0e1096;
   padding-bottom:20px;}

.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { 
  display:inline;
}

.foote_bottom_ul_amrc li a { 
  color:#999; 
  margin:0 12px;}

.social_footer_ul { 
  display:table; 
  margin:15px auto 0 auto; 
  list-style-type:none;  }

.social_footer_ul li { 
  padding-left:20px; 
  padding-top:10px; 
  float:left; }

.social_footer_ul li a { 
  color:#F58A07;
  border:1px solid #F58A07;
  padding:8px;
  border-radius:50%;
}

.social_footer_ul li i { 
   width:20px; 
   height:20px; 
   text-align:center;
  }
  .text-center{
    color: #FFF;
  }
  .ic{
    color: rgb(54, 27, 207);
  }

  /***********************************************Workout container*******************************************/
  @import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:400,400i,700,700i');
section{
    padding: 100px 0;
}
.details-card {
	background: #0b1d2f;
}

.card-content {
	background: #ffffff;
	border: 4px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.card-img {
	position: relative;
	overflow: hidden;
	border-radius: 0;
	z-index: 1;
}

.card-img img {
	width: 100%;
	height: auto;
	display: block;
}

.card-img span {
	position: absolute;
    top: 15%;
    left: 12%;
    background: #1ABC9C;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%,-50%);
}
.card-img span h4{
        font-size: 12px;
        margin:0;
        padding:10px 5px;
         line-height: 0;
}
.card-desc {
	padding: 1.25rem;
}

.card-desc h3 {
	color: #000000;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.card-desc p {
	color: #747373;
    font-size: 14px;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5;
	margin: 0px;
	margin-bottom: 20px;
	padding: 0;
	font-family: 'Raleway', sans-serif;
  width:300px;
}
.btn-card{
	background-color: #f58a07;
	color: rgb(0, 0, 0);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    margin: 0;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: rgb(0, 0, 0);
}
.btn-card:hover {
    background: #084887;
}
a.btn-card {
    text-decoration: none;
    color: rgb(0, 0, 0);
}