@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body{
font-family: "Roboto Condesed" sans-serif;
background-color: #0B1D2F;
}


.footer-wrapper{
    position: relative;
    background: url('./components/image/footer.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
  
  }
  .box1{
    background-color: #0B1D2F; 
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
  }