@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}


html {
  font-size: 55.5%;

}

:root {
  --main-color: #F7F5FB;
  --primary-color: #010105;
  --icon-color: #525252;
}

i {
  width: 2rem;
  height: 2rem;
}

.fa,
.fas {
  font-weight: 900;
  display: grid;
  place-items: center;
  font-size: 2rem;
  cursor: pointer;
}

body {
  width: 80%;
  height: 100vh;
  margin: auto;
  background-color: #0B1D2F;
}

.navbar {
  width: 100%;
  line-height: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 0.1rem solid #9a9191;
  transform: rotate(-0.05deg);
  margin-bottom: 7rem;
}

.continue-shopping{
    display: flex;
    height: inherit;
    align-items: center;
}

.continue-shopping .arrow-icon {
  width: 2.2rem;
  height: 2.2rem;
}

.continue-shopping h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--main-color);
  margin-left: 1.5rem;
  font-weight: 400;
}

.cart-icon {
    display: flex;
    text-align: end;
    margin-right: 2rem;
    align-items: center;
    position: relative;
    justify-content: flex-end;
  }
  
  .cart-icon img {
    width: 5rem;
    height: 5rem;
    color: #2f80ed;
  }
  
  .cart-icon p {
    position: absolute;
    width: 4rem;
    height: 4rem;
    right: -1.2rem;
    top: 0.9rem;
    border-radius: 50%;
    background: #909CC2;
    color: #fff;
    box-sizing: border-box;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
  }

.card{
    width: 100%;
    height: fit-content;
    max-width: 1200px;
    background-color: #F7F5FB;
    box-shadow: rgb(0 0 0 / 8%) 0rem 0.4rem 1.2rem;
    border-radius: 2rem;
    margin: 60px auto ;
    display: grid;
    place-items: center;
}

.card .row{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px 0;
}

.carousel .product-img{
  max-width: 500px;
  min-width: 290px;
  overflow: hidden;
  margin: 25px;
}

.product-img img{
  width: 100%;
  height: 100%;
  max-height: 400px;
}






.row .info-box{
  max-width: 500px;
  min-width: 290px;
  margin: 25px;
}

.info-box .card-body{
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.5rem;
    position: relative;
}


.card-title{
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card-text{
  font-style: normal;
  /*font-weight: bold;*/
  font-size: 2rem;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: black;
  padding: 5px 3px;
  margin: auto;
}

.card-body .row{
  margin: 1px 1px 6px 1px;
  padding: 10px 10px 10px 0px;
  box-sizing: border-box;
  /* border: none; */
  width: fit-content;
}

.card-body .quantity h2{
  margin: 5px;
}

.card-body .row .quantity input{
  width: 6rem;
  height: 3.5rem;
  border: 0.2rem solid var(--primary-color);
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  text-align: center;
  align-content: flex-start;
  text-transform: capitalize;
  color: var(--primary-color);
  margin: 0 1rem;
  border-radius: 0.5rem;
  outline: none;
  background-color: transparent;
}
.dropdown .multiSelectContainer {
  margin: 5px;
}
.row .dropdown .searchWrapper {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  margin-top: 2px;
  min-height: 22px;
  position: relative;
}

.chip, .singleChip {
  white-space: nowrap;
}

.row .chip {
  padding: 4px 10px;
  background: #084887;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 11px;
  display: inline-flex;
  align-items: center;
  font-size: 13px;
  line-height: 19px;
  color: #fff;
}

.multiSelectContainer input {
  border: none;
  margin-top: 5px;
  font-size: 1.6rem;
  background: transparent;
}

.optionContainer .highlightOption {
  background: #909CC2;
}

.multiSelectContainer li {
    padding: 5px;
    border-radius: 2.5rem;
    font-size: 1.6rem;
    text-align:center;
}
.multiSelectContainer li:hover {
  background: #909CC2;
}

.btn-primary {
  color: #fff;
  background-color: #F58A07;
  border-color: none;
  padding: 0px 1px 0px 2px;
  border-radius: 1rem;
  margin-left: 10px;
  margin-top: 5px;
}

.btn-primary .row {
  padding: 5px;
  font-size: 1.62rem;
  margin: 6px 2px 6px;
}
button .fas{
  margin-right: 10px;
}

button .fa-shopping-cart{
  margin-right: 10px;
  color: white;
}
button i.fas.fa-heart{
  margin: 5px;
  align-items: center;
}

.related-row .related-card1,.related-card2, .related-card3, .related-card4{
  width: 20%;
  height: inherit;
  margin: 0 auto 40px;
}

.related-row .card-title{
  font-size: 2rem;
}



.related-row .card-img{
  width: 100%;
  opacity: 0.9;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

h1{
  font-size: 4rem;
}























.related-card2:hover{
  transform: scale(1.2); 
}

.card-body button:hover {
  background-color: #909CC2;
}

